.title{
    width: 100%;
    height: 200px;
    margin-top: 60px;
 
}
.titletext{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 60px;
    color: aliceblue;
    background-image: url(../img/greenmodal02.png);
    padding-left: 10px;
    width: 100%;
}
.midright{
    margin: 10px;
}
.midtext{
    line-height: 40px;
    padding: 30px;
    font-size: 20px;
    color: #344e41;
}
.middle{
    margin-top: 20px;
}
.midimg img{
    border-radius: 10px;
    opacity: 0.8;
}