.title{
  width: 100%;
  height: 200px;

}
.titletext{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 60px;
  color: aliceblue;
  background-image: url(../img/greenmodal02.png);
  padding-left: 10px;
  width: 100%;
}
.midleft{
    width: 250px;
    background-color: rgb(59, 126, 102);
}
.middle{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.midright{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
   
}
.product{
  margin: 5px;
}
.w-100{
    width: 200px;
    height: 190px;
}

/* Fixed sidenav, full height */
.sidebar{
  width: 250px;
}
  
  /* Style the sidenav links and the dropdown button */
  .sidebar a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidebar a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: rgb(27, 85, 61);
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    
    background-color: #2c8155;
    padding-left: 8px;
  }
  .dropdown-container a{
    color: white;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .position-relative{
    position: relative;
  }
  .position-absolute{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 45px;
  }
  .tag{
    background-color: red;
    box-shadow: 4px 6px 11px 2px #000000;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 1px 1px 20px 20px;
  }
.bt-pro{
  border: none;
  color: #344e41;
  background-color: white;
  font-weight: 700;
  font-size: 15px;
  
}
.bt-pro:hover{
  background-color: #2c8155;
  border-radius: 5px;
  color: white;
  
}
.bt-pro-flex{
  display: flex;
  justify-content: center;
}
