.title{
    width: 100%;
    height: 200px;
 
}
.titletext{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 60px;
    color: aliceblue;
    background-image: url(../img/greenmodal02.png);
    padding-left: 10px;
    width: 100%;
}

.list{
    width: 100%;
    margin: auto;
}
/* , 群組選取器 */
.list, th, td{
    
    border-collapse: collapse;
}
th{
    background:  #588157;
}
/* odd奇數 / even偶數 */
tr:nth-child(odd) {
    background-color: #a3b18a;
}
th, td{
    padding:10px;
}
/* 當滑鼠滑入tr列時更換樣式 */
tr:hover{
    background-color:  #dad7cd;
}
.thcolor{
    color: white;
}
.storesearch{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
select, input[type="text"]{
    border-radius: 15px;
    border:1px  solid #344e41 ;
    width: 200px;
    height: 30px;
}
.searchflex{
    display: flex;
}
.middle{
    margin-bottom: 20px;
}
.searchBtnBox button{
    height: 30px;
    border-radius: 15px;
    border:1px  solid #344e41 ;
}
.searchBtnBox button:hover{
    background-color: #a3b18a;
}