* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.fixed {

    background-color: white;
    top: 0;

    width: 100%;
    border-bottom: 2px solid #344e41;

}



.topright {
    display: flex;
}

.container {
    width: 80%;
    margin: auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

/*會員登入*/
.usericon {
    margin-left: 5px;
    margin-top: 25px;
    width: 30px;
    justify-content: center;
    align-items: center;
}

.usericon button {
    color: #344e41;
}

.usericon button:hover {
    color: #a3b18a;
}

.usericon button {
    font-size: 20px;
    border: none;
    background-color: white;
}

.carticon {

    margin-top: 25px;
    width: 30px;
}

.carticon button {
    font-size: 20px;
    border: none;
    background-color: white;
}

.carticon button {
    color: #344e41;
}

.carticon button:hover {
    color: #a3b18a;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.left {
    height: 50px;
    margin-left: 300px;
}

nav>div>ul>li {
    float: left;
    width: 100px;
    height: 50px;
    margin-top: 7px;

}

nav>div>ul>li:hover {
    background-color: #a3b18a;
}

nav>div>ul>li>a {
    display: block;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    color: rgb(21, 21, 21);
    font-size: 18px;
}

nav>div>ul>li>a:hover {
    color: white;
}

a {
    text-decoration: none;
}


.bt-flex {
    display: flex;
    justify-content: space-around;
    height: 300px;
    align-items: center;
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7)
}


.bt-center {
    text-align: center;
    background-color: white;
}

footer {
    width: 100%;
    background-image: url('../img/product.jpg');




}

.col344e41 {
    color: #344e41;
}

.logocolor {
    color: #3a5a40;
    font-weight: 900;
    text-shadow: 4px 4px 4px lightgray;
}

.logocolor:hover {
    text-shadow: 4px 4px 4px grey;
}

.logosize {
    font-size: 30px;
    font-weight: 900;
}

header {
    display: flex;
    height: 60px;
}

.colgray {
    color: gray;
}

.fb-icon {
    color: #4267B2;
    font-size: 30px;
}

.ig-icon {
    color: #E1306C;
    font-size: 30px;

}

.pagetop {
    position: fixed;
    /* 固定定位 */
    display: block;
    /* 塊級元素 */
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #3a5a40;
    text-align: center;
    line-height: 50px;
    /*行高*/
    color: white;
    text-decoration: none;
    border-radius: 50%;

}

* {
    box-sizing: border-box;
}

.middle {
    display: flex;

    width: 100%;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.imgcontainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.imgcircle {
    width: 50px;
    height: 50px;
    background-color: #56855f;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: white;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-bottom: 20px;
}

.btuserflex button{
    border: none;
    background-color: #588157;
    padding: 5px;
    width: 100px;
    border-radius: 4px;
    margin: 10px;
    color: white;
    cursor: pointer;

    font-size: 18px;
}
.btuserflex button:hover{
    background-color:#a3b18a ;
}


.btuser {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btuserflex {
    display: flex;
    justify-content: end;
}
.modal-content{
    width: 40%;
}